*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/debug/app-debug.apk
/app/release/app-release.apk
/app/debug/output-metadata.json
/app/release/output-metadata.json
